
{% load static %}
{% load core_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.0.min.js"></script>

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</head>

<body style="background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({% static 'images/bg.jpg' %});background-attachment: fixed;background-repeat: no-repeat;background-size: cover;background-position: center center;">
	
	<div class="margin">
        <nav class="navbar navbar-expand-md navbar-dark nav_bg fixed-top flex-column">
            <div class="container-fluid mx-5">
                <a href="{% url 'index' %}" class="navbar-brand"><img class="img-fluid logo" src="{% static 'images/logo.png' %}" alt="logo"></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
                        <a href="{% url 'service' %}" class="nav-item nav-link">Services</a>
                        <a href="{% url 'recent_work' %}" class="nav-item nav-link">Works</a>
                        <a href="{% url 'videos' %}" class="nav-item nav-link">Videos</a>
                        <a href="{% url 'career' %}" class="nav-item nav-link">Career</a>
                        <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                        <a href="{% url 'contact' %}" class="nav-item nav-link">Message</a>
                        <a href="{% url 'other_business' %}" class="nav-item nav-link">More</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

	
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4 p-5">
                    <h5>About me</h5>
					{% about_tag %}
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 p-5">
					<h5>Description</h5>
					{% about_description_tag %}
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 p-5">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="{% url 'index' %}"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="{% url 'about' %}"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="{% url 'contact' %}"><i class="fa fa-angle-double-right"></i>Message</a></li>
						<li><a href="{% url 'recent_work' %}"><i class="fa fa-angle-double-right"></i>Works</a></li>
						<li><a href="{% url 'videos' %}"><i class="fa fa-angle-double-right"></i>Videos</a></li>
						<li><a href="{% url 'career' %}"><i class="fa fa-angle-double-right"></i>Career</a></li>
						<li><a href="{% url 'other_business' %}"><i class="fa fa-angle-double-right"></i>More</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-wechat"></i></a></li>
					</ul>
				</div>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>Developed and designed by <a href="https://venomshakib.github.io/" target="_blank">Shakib</a>. This portfolio is built by using Django.</p>
					<p class="h6">© All right Reversed | 2020</p>
				</div>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->
</body>
</html>