{% extends 'base.html' %}

{% block content %}
    <h1 class="display-3 text-center">Career</h1>
    <hr>
        {% for career in careers %}
            <div class="box">
                <img src="{{ career.image.url }}" alt="{{ career.title }} - image" class="img-fluid img-box">
                <div>
                    <br>
                </div>
                <h2>{{ career.title }}</h2>
                <br>
                <p>{{ career.description }}</p>
                <div>
                    <br>
                </div>
            </div>
        {% endfor %}
{% endblock %}