
{% extends 'base.html' %}

{% block content %}
    <h1 class="display-3 text-center">Message</h1>
    <hr>
    <div class="box">
        {% if new_message %}
            <p style="text-align: center;">Your message is sent...</p>
        {% else %}
            <form action="." method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Send message">
            </form>
        {% endif %}
    </div>
{% endblock %}