
{% extends 'base.html' %}

{% block content %}
    <h1 class="display-3 text-center">More Businesses</h1>
    <hr>
    
    {% for business in businesses %}
        <div class="box">
            <img src="{{ business.image.url }}" alt="{{ business.name }} - image" class="img-fluid img-box">
            <div>
                <br>
            </div>
            <h2>{{ business.name }}</h2>
            <br>
            <h5>{{ business.short_description }}</h5>
            <br>
            <p>{{ business.long_description }}</p>
            <div>
                <br>
            </div>
        </div>
        
    {% endfor %}
{% endblock %}