
{% extends 'base.html' %}
{% block title%}Works{% endblock %}
{% block content %}
        <h1 class="display-3 text-center">Works</h1>
        <hr>
    
        {% for recent_work in r_w %}
            <div class="box">
                <img src="{{ recent_work.image.url }}" alt="{{ recent_work.title }} - image" class="img-fluid img-box">
                <div>
                    <br>
                </div>
                <h2>{{ recent_work.title }}</h2>
                <br>
                <p>{{ recent_work.description }}</p>
                <div>
                    <br>
                </div>
            </div>
            
        {% endfor %}

{% endblock %}